form input{
    width: 50dvw;
    font-size: 1.5rem;
    color: #3d566f;
    border: none;
    outline: none;
    border-bottom: .09rem solid #3d566f;
    padding: .25rem;
}

/* @media screen and (max-width: 1450px){
    form input{
        width: dvw;
        display: flex;
        text-align: center;
        align-items: center;
        align-self: center;
        align-content: center;
        font-size: 1.5rem;
        color: #3d566f;
        border: none;
        outline: none;
        border-bottom: .09rem solid #3d566f;
        padding: .25rem;
    }
} */