form input {
    width: 50dvw;
    font-size: 1.5rem;
    color: #3d566f;
    border: none;
    outline: none;
    border-bottom: 0.09rem solid #3d566f;
    padding: 0.25rem;
}

@media only screen and (min-width: 390px) {
    form input {
        width: 50dvw;
        font-size: 1.2rem;
        color: #3d566f;
        border: none;
        outline: none;
        border-bottom: 0.09rem solid #3d566f;
        padding: 0.25rem;
    }
}
