.button {
    display: inline-flex;
    justify-content: center;
    width: 10dvw;
    margin: 0 0.05rem;
    padding: 0.6rem;
    font-size: 0.88rem;
    color: #6c6777;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0.6rem;
}

.button.selected {
    color: #fff;
    background-color: #34495e;
}

@media (max-width: 391px) {
    .button {
        display: inline-flex;
        justify-content: center;
        width: 15dvw;
        margin: 0 0.05rem;
        padding: 0.6rem;
        font-size: 0.88rem;
        font-weight: 200;
        color: #6c6777;
        background-color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 0.6rem;
    }
}
