.task{
    background-color: #34495e;
    padding: 1rem;
    margin: .5rem;
    overflow-x: hidden;
    border-radius: 10px;
    cursor: pointer;
}

span {
    color: white;
}

.icon{
    float: right;
    margin-right: 1.2rem;
}

.edit-todo{
    width: 85%;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid white;
    background-color: #34495e;
    color: white;

}