.task{
    background-color: #34495e;
    padding: 15px;
    margin: 5px;
    overflow-x: hidden;
    border-radius: 10px;
    cursor: pointer;
}

span {
    color: white;
}

.icon{
    float: right;
    margin-right: 20px;
}

.edit-todo{
    width: 85%;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid white;
    background-color: #34495e;
    color: white;

}