header {
    text-align: center;
}

header h1 {
    font-size: 6rem;
    font-weight: 200;
    color: #3d566f;
}

@media (max-width: 391px) {
    header {
        text-align: center;
    }

    header h1 {
        font-size: 3rem;
        font-weight: 400;
        color: #3d566f;
    }
}
